modules = ["nodejs-20", "nodejs_20", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"
build = ["sh", "-c", "pnpm --filter @workspace/api-server run build:prod"]
run = ["sh", "-c", "node --enable-source-maps artifacts/api-server/dist/index.mjs"]

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=8080 pnpm --filter @workspace/api-server run dev & PORT=3000 pnpm --filter @workspace/digor-website run dev & PORT=3001 pnpm --filter @workspace/digor-crm run dev & PORT=3002 pnpm --filter @workspace/digor-tools run dev & wait"
waitForPort = 3000

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"
packages = ["rsync"]

[userenv]

[userenv.shared]
PROPERTY_API_KEY_1 = "papi_a278e60a2b74ba92da02807ef1f4f8cfa96018523ba810e8"
SIGNALWIRE_SPACE_URL = "mcwillam.signalwire.com"
SIGNALWIRE_PROJECT_ID = "32a94f43-4cf5-4312-af2b-bd43eb6d40e4"
PROPERTY_API_KEY = "papi_3bec7d35e6a61aba116bd3b09e5843a2a7ef746dab82d432"
PROPERTY_API_KEY_2 = "papi_31d94e4cbab41fb9fb432ed8baadc1e63188d68bdaa7b7f4"
PROPERTY_API_KEY_3 = "papi_c971abb587a8eabe10d83d45afea563447441265966c1388"
PROPERTY_API_KEY_4 = "papi_c96b44a4baf8451c383fa6257065e781c5f6857fccb32710"
PROPERTY_API_KEY_5 = "papi_0b03d93d3672d64a83ceab8701fddfbf73dbe1e8c45144a1"
PROPERTY_API_KEY_6 = "papi_f823b93a4b9ce8d626a626d3242ee4f90a0bc3bbc5063d58"
PROPERTY_API_KEY_7 = "papi_70109d20d593ffa22d321e5efe52683171b22da4ffa2a0c3"
